a, a:visited  {
    color: black;
}

a:hover {
    color: grey;
}

hr {
    width: 80%;
}

body {
    background-color: #FFEBDC;
    height: 100%;
}

.jumbotron {
    background-color: #FEAB6D;
    padding: 40px 60px 30px 60px;
}

